/experiments/Dataset/Data/
/experiments/Dataset/
/experiments/config/clusterization_config.yaml
/experiments/config/preprocessing_config.yaml
/experiments/config/start_config.yaml
/experiments/Training/Clusterization/Info/
/experiments/Training/Clusterization/Models/
/experiments/config/classification_config.yaml
/experiments/Training/Classification/Info/
/experiments/Training/Classification/Models/
